body {
  text-align: center;
}

table {
  margin: auto;
  border-collapse: collapse;
}

table,
tr,
th,
td {
  border: 1px solid grey;
}

th,
td {
  padding: 1rem;
}

th {
  background-color: lightgrey;
}
